*,
*: after,
*: before { 
box-sizing: border-box;
}



* { 
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; 
  margin: 0;
}

html  { 

 }

body  { 
  width: 100%;
  margin: 0;
}

main { 
  display: flex;
  width: 100%;
}


section { 
  display: inline-block;
  width: 50%;
}

.container-left { 
  text-align: center;
  background-color: #455A64; 
  height: 100vh;
}

header { 
  text-align: center;
  margin: auto;
 }

h1  { 
  color: #ffffff; 
  color: white;
  font-weight: 800;
  margin-top:
  padding-bottom: 30%;
  margin-bottom: 7%;
  font-size: 568%;
  margin-top: 10%;
}

h2 { 
  font-weight: 800; color: #455A64;
  padding-top: 2%;
  padding-bottom: 2%;
}

img { 
  width: 14%;
  margin-left: 15px;
}

a { 
  color: #607D8B;
  text-decoration: underline #f2f4f4;
  line-height: 280%;
}

a:hover {
  font-weight: 800;
  text-decoration: underline #ffc107;

}

hr { 
  color: #CFD8DC;
}

 .main-input { 
  display: block;
  margin: auto;
  text-align: left;
  margin-bottom: 72px;
  width: 85%;
  height: 50px;
}

.main-input::placeholder-shown: { 
  font-size: 
}

.bookmarks-button {
  color: #455a64;
  background: transparent;
  border: none; 
  padding-top: 5%;
}

.bookmarks-button:hover {
  font-weight: 800;
  text-decoration: underline #ffc107;
}

#read-button { 
  float: left;
}

#delete-button { 
  float: right;
}

 #enter {  
  margin: auto;
  width: 85%;
  height: 50px;
  font-weight: 800;
  text-align: center;
  background-color: #FFC107;
  margin-bottom: 10%;
  border: none;
 }

 #enter:hover {
  color: #ffd773;
 }

.container-right { 
  background-color: #CFD8DC;
  text-align: center;
  height: 100vh;
}

.cards { 
  border: 2px solid #607d8b;
  margin: auto;
  text-align: left;
  padding: 2%;
  background-color: #FFFFFF;
  margin: 2%;
  height: 150px;

}

