*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 16px;
}

html {
}

body {
  width: 100%;
  margin: 0;
}

main {
  display: flex;
  width: 100%;
}

section {
  display: inline-block;
  width: 50%;
}

.container-left {
  text-align: center;
  background-color: #455A64;
  height: 100vh;
}

header {
  text-align: center;
  margin: auto;
}

h1 {
  color: #ffffff;
  font-weight: 800;
  padding-bottom: 3%;
  margin-bottom: 5%;
  font-size: 5.8em;
  margin-top: 25%;
}

h2 {
  font-weight: 800;
  font-size: 1.5em;
  color: #455A64;
  padding-top: 2%;
  padding-bottom: 2%;
}

img {
  width: 15%;
  margin-left: 13px;
  margin-right: 5px;
}

a {
  color: #607D8B;
  text-decoration: underline #f2f4f4;
  line-height: 280%;
}

a:hover {
  font-weight: 800;
  text-decoration: underline #ffc107;
}

.read-underline {
  text-decoration: underline #cfd8dc;
}

hr {
  color: #CFD8DC;
}

.main-input {
  display: block;
  margin: auto;
  text-align: left;
  margin-bottom: 50px;
  width: 90%;
  height: 50px;
  font-size: 2em;
  padding-top: 10px;
  padding-bo
  color: rgb(187,189,191);
  padding-left: 10px;
  border-width: 2px solid rgb(187,189,191);
}

input::placeholder {
  font-size: 1em;
  line-height: 2.5;
  color: rgb(187,189,191);
}

.bookmarks-button {
  color: #455a64;
  background: transparent;
  border: none;
  padding-top: 2.5%;
}

.bookmarks-button:hover {
  font-weight: 800;
  text-decoration: underline #ffc107;
}

#read-button {
  float: left;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

#title-input { 
  margin-bottom: 60px;
}

#url-input { 
  margin-bottom: 19px; 
}

#delete-button {
  float: right;
}

.read {
  color: #f05a28;
}

#enter {
  margin: auto;
  width: 90%;
  height: 50px;
  font-weight: 800;
  color: white;
  text-align: center;
  background-color: #FFC107;
  padding-bottom: 0%;
  border: none;
}

.card-counter { 
  color: #455A64;
  background-color: white;
  width: 20px;
  height: 20px;
  border-width: 1px  solid color: #607D8B;
  margin: auto;
  margin-bottom: 3%;
  margin-top: 3%;
  border-radius: 20%;
  margin-top: 5px;
  display: inline-block;
  margin-right: 10px;
}

.read-links { 
  color: #455A64;
  background-color: white;
  width: 20px;
  height: 20px;
  border-width: 1px  solid color: #607D8B;
  margin: auto;
  margin-bottom: 3%;
  margin-top: 3%;
  border-radius: 20%;
  margin-top: 5px;
  display: inline-block;
  margin-right: 10px;
}

.unread-links {
  color: #455A64;
  background-color: white;
  width: 20px;
  height: 20px;
  border-width: 1px  solid color: #607D8B;
  margin: auto;
  margin-bottom: 3%;
  margin-top: 3%;
  border-radius: 20%;
  margin-top: 5px;
  display: inline-block;
  margin-right: 10px;
}

#enter:hover {
  color: #ffd773;
}

.container-right {
  background-color: #CFD8DC;
  text-align: center;
  height: 100vh;
  overflow: scroll;
}

.cards {
  border: 2px solid #607D8B;
  margin: auto;
  text-align: left;
  padding: 2%;
  background-color: #FFFFFF;
  margin: 3%;
  height: 171px;
}

.read-disabled {
  background-color: #f2f4f4;
}

@media screen and (min-width: 900px;) {
  .container { 
  width: 90%; 
  }
}

@media screen and (max-width: 550px) { 
    .container {
    height: 100%;
  }

  .main-content {
    float: none;
    height: 400px;
    width: 100%;
  }

  .secondary-content {
    float: none;
    height: 200px;
    width: 100%;
  }

  body { 
    background-color: chartreuse;
   }
 }


